@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.header {
  height: 80px;
  padding: 0 30px;
  @include flex(row, flex-end, center, nowrap);
  opacity: 0.9;
  background-color: $bgColor;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  
  @media screen and (max-width: 768px) {
    padding: 0 15px; /* Reduced padding on smaller screens */
  }
}