@import './variables';

@mixin text($fontFamily,$fontSize,$lineHeight,$fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin container() {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  
  @media screen and (max-width: 768px) {
    width: 95%;
    padding: 0 10px;
  }
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin bgSettings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}