@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 20px; /* Reduced horizontal padding */
  
  @media screen and (max-width: 768px) {
    padding: 50px 10px; /* Even smaller padding on mobile */
  }

  .container {
    @include flex(column,flex-start,center,nowrap);

    .projects {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: center;
      @media screen and (min-width: 1460px) {
        justify-content: space-between;
      }
    }
  }
}


